TempeTweakers.txt
Connor.json
Dylan.json
Finn.json
Fricke.json
Frink.json
Henry.json
Justin.json
Kai.json
Matt.json
Nathan.json
Shane.json
Will.json
parity.py 
parser.cpp
schedule.txt
schedule_incomplete.json
standing.json
scheduleLoader.py
RenameOutputs.py
projection.py
2023.json
dataPull.py 
Managers.txt
input.txt
/Inputs7
Projections.csv
Totals.py
schedule.py